name: pull-request-merged
on:
  pull_request:
    types: [ closed ]
    branches: [ main ]
jobs:
  bump-version:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Bump version on pull request merge
      run: |
        git config --global user.email "correos@okkema.org"
        git config --global user.name "Okkema Labs"
        COMMIT_MESSAGE=$(git log -1 --pretty=format:%B)
        VERSIONS=(major minor patch)
        for VERSION in ${VERSIONS[@]}
        do
          if [[ "$COMMIT_MESSAGE" =~ "#$VERSION" ]]
          then
            BUMP=$VERSION
            break
          fi
        done
        npm version $BUMP --commit-hooks false 
        git push