name: pull-request
on:
  pull_request:
jobs:
  pull-request:
    name: Pull request requires changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
      - name: Check that changelog updated
        run: |
          if ! grep --quiet CHANGELOG.md <(echo "${{ steps.changed-files.outputs.all_changed_files }}")
          then
            echo "ERROR - Commit failed"
            echo "Changelog must be included with version bump."
            exit 1
          fi
